@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --clr-primary: #2b2b2b;
    /* Main Background */
    --clr-bg-main: #1d1d1d;
    /* Color */
    --clr-text: #ffffff;
    /* Btn */
    --clr-btn: #25d162;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg-main);
    height: 100vh;
    scroll-behavior: smooth;
    user-select: none;
    font-family: "Poppins", sans-serif;
    transition: all .3s ease-in-out;
    color: var(--clr-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 3px 3px 2px #ffffff9a;
    font-size: clamp(1rem, 2vw, 3rem);
}

.contaner {
    background-color: var(--clr-primary);
    padding: 32px;
    color: var(--clr-text);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    box-shadow: 5px 5px 5px #ffffff18;
}

.submit {
    text-transform: uppercase;
    padding: 8px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--clr-text);
    background-color: var(--clr-btn);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.signs {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.sign {
    padding: 6px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    border: 2px solid var(--clr-btn);
    cursor: pointer;
    background-color: var(--clr-btn);
    color: var(--clr-text);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.sign::before {
    content: "";
    width: 100%;
    height: 0;
    bottom: 0; left: 0;
    position: absolute;
    background-color: var(--clr-bg-main);
    transition: all .4s ease-in-out;
    z-index: -1;
}

.sign:active, .submit:active {
    opacity: 0.2;
}

.sign:hover::before {
    height: 100%;
}

.result {
    font-size: 20px;
    font-weight: 600;
}

/* Wrapper Signs */
.wrapper_signs {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: var(--clr-primary);
    padding: 18px;
    border-radius: 12px;
    box-shadow: -5px -5px 5px #ffffff18;
}

.signs_div_fill {
    display: flex;
    gap: 10px;
}

.signs_p_outline {
    display: flex;
    gap: 8px;
    justify-content: space-around;
    border-bottom: 1px solid #ffffff18;
}

.sign_quantity {
    padding: 2px 8px;
    background-color: var(--clr-btn);
    border-radius: 2px;
    font-size: 100%;
}

/* media */

@media screen and (max-width: 1024px) {
    .wrapper_signs {
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 -5px 5px #ffffff18;
    }

    .contaner {
        margin-top: 50px;
    }
}

@media screen and (max-width: 375px) {
    .wrapper_signs {
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .signs_p_outline {
        gap: 0;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 325px) {
    .wrapper_signs {
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .signs_div_fill {
        gap: 2px;
    }

    .signs_p_outline {
        justify-content: space-around;
    }
}